name: Release
on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: write

env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Volta
        uses: volta-cli/action@v4

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: ./packages/schummar-translate/test-results.xml

      - name: "Report Coverage"
        uses: davelosert/vitest-coverage-report-action@v2
        if: always()
        with:
          working-directory: ./packages/schummar-translate

      - name: Build
        run: pnpm build

      - name: Publint
        run: pnpm publint

      - name: Setup git user
        run: |
          git config user.name "${{ vars.GIT_USER }}"
          git config user.email "${{ vars.GIT_EMAIL }}"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm nx release -y
